@font-face {
    font-family: "pbmit_handyon";
    src: url("pbmit_handyoncdd8.woff2?5377df63d102f08fd6ecc2dd8e426bdf") format("woff2"),
url("pbmit_handyoncdd8.woff?5377df63d102f08fd6ecc2dd8e426bdf") format("woff"),
url("pbmit_handyoncdd8.eot?5377df63d102f08fd6ecc2dd8e426bdf#iefix") format("embedded-opentype"),
url("pbmit_handyoncdd8.ttf?5377df63d102f08fd6ecc2dd8e426bdf") format("truetype"),
url("pbmit_handyoncdd8.svg?5377df63d102f08fd6ecc2dd8e426bdf#pbmit_handyon") format("svg")
}

i[class^="pbmit_handyon-"]:before, i[class*=" pbmit-handyon-icon-"]:before {
    font-family: pbmit_handyon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-handyon-icon-power-plug:before {
    content: "\f101";
}
.pbmit-handyon-icon-lightbulb:before {
    content: "\f102";
}
.pbmit-handyon-icon-wiring:before {
    content: "\f103";
}
.pbmit-handyon-icon-electrician:before {
    content: "\f104";
}
.pbmit-handyon-icon-accumulator:before {
    content: "\f105";
}
.pbmit-handyon-icon-house:before {
    content: "\f106";
}
.pbmit-handyon-icon-power-line:before {
    content: "\f107";
}
.pbmit-handyon-icon-voltmeter:before {
    content: "\f108";
}
.pbmit-handyon-icon-tools:before {
    content: "\f109";
}
.pbmit-handyon-icon-pliers:before {
    content: "\f10a";
}
.pbmit-handyon-icon-multimeter:before {
    content: "\f10b";
}
.pbmit-handyon-icon-drill:before {
    content: "\f10c";
}
.pbmit-handyon-icon-faucet:before {
    content: "\f10d";
}
.pbmit-handyon-icon-shower-head:before {
    content: "\f10e";
}
.pbmit-handyon-icon-basin:before {
    content: "\f10f";
}
.pbmit-handyon-icon-valve:before {
    content: "\f110";
}
.pbmit-handyon-icon-plumbing:before {
    content: "\f111";
}
.pbmit-handyon-icon-lavatory:before {
    content: "\f112";
}
.pbmit-handyon-icon-tools-1:before {
    content: "\f113";
}
.pbmit-handyon-icon-workers:before {
    content: "\f114";
}
.pbmit-handyon-icon-equipment:before {
    content: "\f115";
}
.pbmit-handyon-icon-plumbing-1:before {
    content: "\f116";
}
.pbmit-handyon-icon-pencil:before {
    content: "\f117";
}
.pbmit-handyon-icon-measuring-tape:before {
    content: "\f118";
}
.pbmit-handyon-icon-drill-1:before {
    content: "\f119";
}
.pbmit-handyon-icon-saw:before {
    content: "\f11a";
}
.pbmit-handyon-icon-toolbox:before {
    content: "\f11b";
}
.pbmit-handyon-icon-spirit-level:before {
    content: "\f11c";
}
.pbmit-handyon-icon-hammering:before {
    content: "\f11d";
}
.pbmit-handyon-icon-chisel:before {
    content: "\f11e";
}
.pbmit-handyon-icon-circular-saw:before {
    content: "\f11f";
}
.pbmit-handyon-icon-air-conditioning:before {
    content: "\f120";
}
.pbmit-handyon-icon-condensation:before {
    content: "\f121";
}
.pbmit-handyon-icon-maintenance:before {
    content: "\f122";
}
.pbmit-handyon-icon-air-conditioning-1:before {
    content: "\f123";
}
.pbmit-handyon-icon-air-flow:before {
    content: "\f124";
}
.pbmit-handyon-icon-windscreen-air:before {
    content: "\f125";
}
.pbmit-handyon-icon-maintenance-1:before {
    content: "\f126";
}
.pbmit-handyon-icon-gable:before {
    content: "\f127";
}
.pbmit-handyon-icon-gable-1:before {
    content: "\f128";
}
.pbmit-handyon-icon-roof:before {
    content: "\f129";
}
.pbmit-handyon-icon-gable-2:before {
    content: "\f12a";
}
.pbmit-handyon-icon-gable-3:before {
    content: "\f12b";
}
.pbmit-handyon-icon-roof-1:before {
    content: "\f12c";
}
.pbmit-handyon-icon-roof-2:before {
    content: "\f12d";
}
.pbmit-handyon-icon-construction:before {
    content: "\f12e";
}
.pbmit-handyon-icon-roof-3:before {
    content: "\f12f";
}
.pbmit-handyon-icon-japanese-castle:before {
    content: "\f130";
}
.pbmit-handyon-icon-gable-4:before {
    content: "\f131";
}
.pbmit-handyon-icon-construction-1:before {
    content: "\f132";
}
.pbmit-handyon-icon-mission:before {
    content: "\f133";
}
.pbmit-handyon-icon-binoculars:before {
    content: "\f134";
}
.pbmit-handyon-icon-diamond:before {
    content: "\f135";
}
.pbmit-handyon-icon-right:before {
    content: "\f136";
}
.pbmit-handyon-icon-arrow:before {
    content: "\f137";
}
.pbmit-handyon-icon-back:before {
    content: "\f138";
}
.pbmit-handyon-icon-talk:before {
    content: "\f139";
}
.pbmit-handyon-icon-center:before {
    content: "\f13a";
}
.pbmit-handyon-icon-visiting:before {
    content: "\f13b";
}
.pbmit-handyon-icon-repair:before {
    content: "\f13c";
}
.pbmit-handyon-icon-up-right-arrow:before {
    content: "\f13d";
}
.pbmit-handyon-icon-thumbs-up:before {
    content: "\f13e";
}
.pbmit-handyon-icon-telephone:before {
    content: "\f13f";
}
.pbmit-handyon-icon-destination:before {
    content: "\f140";
}
.pbmit-handyon-icon-call:before {
    content: "\f141";
}
.pbmit-handyon-icon-email:before {
    content: "\f142";
}
.pbmit-handyon-icon-floor:before {
    content: "\f143";
}
.pbmit-handyon-icon-saw-machine:before {
    content: "\f144";
}
.pbmit-handyon-icon-dot:before {
    content: "\f145";
}
.pbmit-handyon-icon-bolt:before {
    content: "\f146";
}
.pbmit-handyon-icon-location:before {
    content: "\f147";
}
.pbmit-handyon-icon-mail:before {
    content: "\f148";
}
.pbmit-handyon-icon-right-arrow:before {
    content: "\f149";
}
.pbmit-handyon-icon-play:before {
    content: "\f14a";
}
.pbmit-handyon-icon-check:before {
    content: "\f14b";
}
.pbmit-handyon-icon-money-banking:before {
    content: "\f14c";
}
.pbmit-handyon-icon-add:before {
    content: "\f14d";
}
.pbmit-handyon-icon-minus:before {
    content: "\f14e";
}
.pbmit-handyon-icon-quotes:before {
    content: "\f14f";
}

